:root

body{
   font-family: 'Roboto', sans-serif;
   background: #FFFFFF;
   color: #434455;
}

.list {
   list-style: none
}

li {
   list-style-type: none;
}
.link {
   text-decoration: none;
}
/* ------------------------INDEX----------------------- */
.header-nav {
}

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
   }

   .studio-top {
      color: #2e2f42;
   }

   .header-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.header-link:is( :hover, :focus){
   color: #404bbf;
}

.header-address {
   font-style: normal;
}

.address {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   cursor: pointer;
   color: #434455;
}

.address:is( :hover, :focus){
   color: #404bbf;
}

.hero {
   background: #2E2F42;
}

.hero-title {
   font-size: 56px;
   line-height: 1.07;
   text-align: center;
   letter-spacing: 0.02em;
   color: #FFFFFF;
}
.hero-btn {
   font-family: "Roboto", sans-serif;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #FFFFFF;
   cursor: pointer;
   background: #4D5AE5;
}

.hero-btn:is( :hover, :focus) {
   background-color: #404BBF;
}   

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-align: center;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.main-list-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.main-list-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.doing-title {
   font-size: 36px;
   line-height: 1.11;
   letter-spacing: 0.02em;
   text-align: center;
   text-transform: capitalize;
   color: #2E2F42;
}
.doing-list {
   background-color: #FFFFFF
}
.team {
   background: #F4F4FD;
}

.item-list {
   background-color: #FFFFFF
}

.team-title {
   font-weight: 500;
   font-size: 36px;
   line-height: 1.11;
   text-align: center;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   color: #2E2F42;
}

.items-team {
   background: #FFFFFF;
}

.team-list {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
   background-color: #FFFFFF;
}

.team-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}
.footer {
   background: #2E2F42;
}

.footer-link {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4d5ae5;
}
.footer-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #F4F4FD;
}

/* -----------------PORTFOLIO---------------- */

.logo {
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.17;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   color: #4D5AE5;
}

.studio-top {
   color: #2E2F42;
}

.header-nav-link {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2E2F42;
   cursor: pointer;
}

.header-mailto {
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   cursor: pointer;
}

.header-mailto:is( :hover, :focus){
   color: #404bbf;
}

.header-tel {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
   cursor: pointer;
}

.header-tel:is( :hover, :focus){
   color: #4D5AE5;
}

.main-title{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
 }

.main-button {
   font-family: inherit;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   color: #4D5AE5;
   background: #F4F4FD;
   cursor: pointer;
   border: none;
}

.main-button:is(:hover, :focus){
   color: #FFFFFF;
   background: #404BBF;
   cursor: pointer;
}

.list-item {
   background: #FFFFFF;
}

.list-item-title {
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;
   color: #2E2F42;
}

.list-item-text {
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #434455;
}

.footer {
   background: #2E2F42;
}

.studio-footer {
   color: #F4F4FD;
}